.onagre {
  --exit-unfocused: true;
  --icon-theme: "Catppuccin-Mocha";
  --font-family: "NotoSans Nerd Font";
  --icon-size: 28px;

  height: 375px;
  width: 600px;
  padding: 10px;
  
  background: #151515;
  color: #414141;
  
  border-color: #5d5e72;
  border-radius: 0;
  border-width: 0;

  .container {
    padding: 0;

    .search {
      --spacing: 0;
      --height: fill-portion 1;

      padding: 4px;

      background: #ffffff;
      color: #000;

      border-radius: 0;
      border-width: 3px;

      .plugin-hint {
        --align-x: center;
        --align-y: center;
        --width: fill-portion 2;
        --height: fill-portion 13;
        
        font-size: 20px;
        padding: 4px;
        
        background: #18181b;
        color: #d8dee9;

        border-width: 2px;
        border-color: #5d5e72;
      }

      .input {
        --width: fill-portion 11;
      }

    }

    .rows {
      --height: fill-portion 6;
      
      .row {
        .icon {
          padding-top: 4px;
        }

        .title {
          font-size: 18px;
        }
        
        .description {
          font-size: 12px;
        }
      }

      .row-selected {
        --width: 435;
        background: #000000;
        color: #5d5e72;
        
        .icon {
          padding-top: 4px;
        }

        .title {
          font-size: 20px;
        }

        .description {
          font-size: 12px;
        }
      }
    }

    .scrollable {
      .scroller {
        color: #A0A0AB;
        border-color: #18181b;
      }
    }
  }
}

